.upload_form{
    max-width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cyan;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.upload_form input{
    border-radius: 5px;
    width: 80%;
    height: 30px;
}

.head{
    margin-top: 20px;
}

.main_container{
    margin: 30px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
}

.widget{
    background-color: rgb(230, 229, 229);
    width: 250px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
}

.widget img{
    height: 300px;
    width: 250px;
}

.product_info{
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.buttons{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CreateFolder */
.folder_container{
    width: 60%;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.folder{
    width: 150px;
    height: 170px;
    box-shadow: 0px 0px 5px black;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.folder span{
    font-size: 40px;
}

.folder_form{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.folder_form input{
    border-radius: 5px;
    width: 80%;
}

.manage_data{
    margin: 10px 0px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage_data span{
    font-size: 30px;
}